div {
  font-weight: bold;
}

div, button, span, p {
  font-family: 'Quicksand', sans-serif;
}

input[type=text] {
  /*margin-bottom: 20px;;*/
  padding: 20px;
}

select {
  margin-bottom: 20px;;
  padding: 0px 20px 0px 20px;
}
