<div class="row" style="margin-top: 75px;margin-left: 0px;margin-right: 0px">
  <div class="row" style="margin: 80px 0px 0px 0px" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-12 col-sm-12">
      <span style="font-weight: bold;color: #b68003;font-size: 21px">Travel History</span>
      <table class="table" width="100%" style="margin-top: 20px" border="1px solid black">
        <thead class="thead-dark">
        <th>#</th>
        <th>Traveller</th>
        <th>Train Name</th>
        <th>Depature station</th>
        <th>Arrival station</th>
        <th>Depature Time</th>
        <th>Arrival Time</th>
        <th>Reserved Time</th>
        </thead>
        <tbody>
        <tr *ngFor="let d1 of History let i = index">
          <th scope="row">{{i+1}}</th>
          <th>{{d1.nic}}</th>
          <td>{{d1.number}}</td>
          <td>{{d1.departre_Station}}</td>
          <td>{{d1.arrival_Station}}</td>
          <td>{{d1.departre_Time}}</td>
          <td>{{d1.arrival_Time}}</td>
          <td>{{d1.reserverved_Time}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="modal fade " style="width: 1500px" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <div class="pagetitle">
              <span style="font-size: 25px;font-weight: bold;color: #750202">Warning</span>
            </div>

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="card">
              <div class="card-body">
                <section class="section">
                  <form style="padding-top: 20px;background-color: white;" #orderForm="ngForm" (ngSubmit)="orderForm.form.valid " novalidate>
                    <div align="center" style="color: #b21f2d"><h2>Are you sure you want to delete</h2></div>
                    <div class="container-login100-form-btn row" style="margin-top: 40px;margin-bottom: 40px">
                      <div class="col-6">
                        <button class="login100-form-btn" type="submit"  data-bs-dismiss="modal">
                          Yes
                        </button>
                      </div>
                      <div class="col-6">
                        <button class="login100-form-btn" type="submit"data-bs-dismiss="modal" >
                          No
                        </button>
                      </div>
                    </div>
                  </form>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
